In [1]:
# Import the necessary libraries

import sqlite3
import pandas as pd

# Load the data
data = 'data/sql-murder-mistery.db'

# Use connect()
conn = sqlite3.connect(data)

# Create a cursor
cursor = conn.cursor()

In [8]:
query = '''
SELECT description
FROM crime_scene_report
WHERE date = '20180115' and type = 'murder' and city = 'SQL City'
'''
my_query = cursor.execute(query)
my_query.fetchall()

[('Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".',)]

In [28]:
query = '''
SELECT *, MAX(p.address_number)
FROM person p
WHERE p.address_street_name = 'Northwestern Dr'
'''
my_query = cursor.execute(query)
my_query.fetchall()

[(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', 111564949, 4919)]

In [34]:
query = '''
SELECT *
FROM person p
JOIN drivers_license dl ON p.id = dl.id
'''
my_query = cursor.execute(query)
my_query.fetchall()

[]

In [42]:
query = '''
SELECT *
FROM person p
WHERE p.address_street_name = 'Franklin Ave' AND p.name LIKE 'Annabel%'
'''
my_query = cursor.execute(query)
my_query.fetchall()

[(16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', 318771143)]

In [43]:
query = '''
SELECT p.id, p.name, i.transcript
FROM person p
JOIN interview i ON p.id = i.person_id
WHERE p.name = 'Morty Schapiro' or p.name = 'Annabel Miller'
'''
my_query = cursor.execute(query)
my_query.fetchall()

[(14887,
  'Morty Schapiro',
  'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".'),
 (16371,
  'Annabel Miller',
  'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.')]

In [59]:
query = '''
select p.name
from drivers_license d
join person p ON d.id = p.license_id
join get_fit_now_member g ON p.id = g.person_id
where plate_number LIKE "%H42W%"
'''
my_query = cursor.execute(query)
my_query.fetchall()

[('Jeremy Bowers',)]

In [66]:
query = '''
SELECT *
FROM solution
'''
my_query = cursor.execute(query)
my_query.fetchall()

[]